body {
    min-width: 320px; /* Tamaño mínimo para pantallas grandes */
  }

  /* Estilos para pantallas más pequeñas (como teléfonos) */
@media (max-width: 768px) {
    .cronicas-container {
      grid-template-columns: 1fr; 
    }
  
    .cronicas-left-column, .cronicas-right-column {
      padding: 10px; 
    }
  
    .cronicas-grid-item img {
      width: 100%;
      height: auto; 
    }
  }

  